h2, .container {
  color: whitesmoke;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button-container {
  text-align: center;
  margin-top: 20px;
}